.hero {
    background-image: url('https://images.unsplash.com/photo-1576675783366-4cf9a5f3a3ee');
    background-size: cover;
    background-position: center;
    height: 20vh; /* Reducir la altura */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .hero-content {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* Aumentar la opacidad */
    padding: 1rem 2rem; /* Ajustar el padding */
    border-radius: 5px;
  }
  
  .hero h1 {
    font-size: 2.5rem; /* Ajustar tama침o de la fuente */
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.25rem; /* Ajustar tama침o de la fuente */
    margin-bottom: 1.5rem;
  }
  
  .btn-primary {
    font-size: 1.25rem; /* Ajustar tama침o del bot칩n */
  }
  