/* Navbar.css */
.elite-navbar {
    background-color: #ffffff !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #f0f0f0;
}

.navbar-logo {
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.navbar-logo:hover {
    transform: scale(1.05);
}

.nav-link-custom {
    color: #333 !important;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    position: relative;
    padding: 5px 0 !important;
    margin: 0 10px;
}

/* Efecto Hover Subrayado Dorado */
.nav-link-custom::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c5a059; /* Elite Gold */
    transition: width 0.3s ease;
}

.nav-link-custom:hover::after,
.nav-link-custom.active::after {
    width: 100%;
}

.nav-link-custom:hover {
    color: #c5a059 !important;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}